*-debug.log
*-error.log
.oclif.manifest.json
.docz
.netlify
lib/
node_modules/
tmp/
.DS_Store
yarn.lock
.yarn-metadata.json
.nyc_output/
dist/
.yalc/
yalc.lock
.eslintcache
coverage.data
coverage/
.docusaurus
.idea
junit.xml
packages/botonic-cli/tests/dummy-project/package-lock.json
packages/botonic-cli/botonic-tmp*
.botonic.json
.vscode/*
!.vscode/settings.json
docs/website/package-lock.json
*.tsbuildinfo
