#botonic-scrollable-content
  > div.simplebar-wrapper
  > div.simplebar-mask
  > div
  > div {
  overscroll-behavior: contain; // https://css-tricks.com/almanac/properties/o/overscroll-behavior/
  -webkit-overflow-scrolling: touch;
  ::-webkit-scrollbar {
    // https://github.com/Grsmto/simplebar/issues/445#issuecomment-586902814
    display: none;
  }
}
