.typing-indicator {
  will-change: transform;
  width: 44px;
  line-height: 0px;
  border-radius: 20px;
  padding: 8px 2px 8px;
  text-align: center;
  display: block;
  margin: 8px;
  position: relative;
  animation: 2s bulge infinite ease-out;
  span {
    height: 6px;
    width: 6px;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * 0.3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
