$black: #27262b;
$white: #ffffff;

$lilara-100: #e8e2ff;
$lilara-200: #cbbdff;
$lilara-400: #8b6dff;
$lilara-500: #6e49ff;
$lilara-600: #583acc;

$neutral-50: #f4f3f4;
$neutral-100: #e8e8ea;
$neutral-500: #6d6a78;
$neutral-900: #27262b;

$font-family-bot-regular: 'Inter-Regular', Helvetica, Arial, sans-serif !important;
$font-family-bot-bold: 'Inter-Bold', Helvetica, Arial, sans-serif !important;
$font-family-bot-semi-bold: 'Inter-SemiBold', Helvetica, Arial, sans-serif !important;
$font-family-bot-light: 'Inter-Light', Helvetica, Arial, sans-serif !important;

@mixin button {
  width: auto;
  padding: 10px 16px;
  background: $white !important;
  border-radius: 0px 10px 10px 10px !important;
  border: 1px solid $lilara-500 !important;
  white-space: pre-line;
  text-align: left;
  color: $lilara-500 !important;
  cursor: pointer;

  &:hover {
    background-color: $lilara-500 !important;
    color: $white !important;
  }
}

#botonic-webchat {
  height: 620px;
  width: 390px;
  font-family: $font-family-bot-regular !important;
  font-size: 16px;
  border-radius: 24px !important;

  div[role='header'] {
    border-radius: 24px 24px 0px 0px !important;
  }

  div[role='message'] {
    display: flex;
    gap: 5px;
    margin-bottom: 8px;
  }

  div [role='message']:first-child {
    margin-top: 10px;
  }

  a {
    text-shadow: none;
    color: $lilara-500;
    text-decoration: underline;
  }
}

@media (max-width: 650px) {
  #botonic-webchat {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    border-radius: 0 !important;
  }
}

div [role='webview'] {
  border-radius: 24px !important;
}

div [role='webview-header'] {
  display: none;
}

div [role='webchat'] {
  z-index: 100;

  .user-input-container {
    input {
      font-size: 16px !important;
    }
  }
}

.text-bot {
  background: transparent !important;
  border-radius: 10px 10px 10px 0px;
  max-width: 90% !important;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin: 0px 4px !important;
  padding: 0px !important;

  //Text div
  div:first-of-type {
    color: $black !important;
    background: $neutral-50 !important;
    padding: 12px !important;
    border-radius: 10px 10px 10px 0px !important;
    white-space: pre-line;
    max-width: 90% !important;
  }

  .message-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    background: $white;
    padding: 4px 0px;
    width: 100%;
  }

  // Arrow bubble
  > div:nth-last-child(-n + 2) {
    display: none !important;
  }

  button {
    @include button;
  }

  ul,
  ol {
    padding-left: 15px;
    display: grid;
  }

  p {
    margin-bottom: 14px;
  }

  p:last-child {
    margin-bottom: 0px;
  }
}

div[role='message'] {
  .botonic-timestamp-container {
    div {
      font-family: $font-family-bot-regular;
      color: $neutral-500;
    }
  }
}

.text-user {
  background: transparent !important;
  border-radius: 10px 10px 0px 10px !important;
  max-width: 90% !important;
  margin: 0px 3px !important;

  //Text div
  > div {
    color: $white !important;
    background: $lilara-500 !important;
    padding: 12px !important;
    border-radius: 10px 10px 0px 10px !important;
    margin: 5px !important;
    white-space: pre-line;
  }
}

.custom-bot {
  margin: 0px 5px !important;
  padding: 0px;
  max-width: 90% !important;
  background: transparent !important;
  > div {
    padding: 0px;
  }

  // Arrow bubble
  > div:nth-last-child(-n + 2) {
    padding: 25px 0px !important;
    align-items: flex-start;
    margin-left: -5px !important;
    > div {
      margin: -5px -3px;
      border: 9px solid rgba(0, 0, 0, 0);
      border-right-color: #f2f2f2 !important;
      margin-left: 1px !important;
    }
  }
}

.custom-rating {
  width: 100% !important;
  > div:first-child {
    > div:first-child {
      p {
        background: $neutral-100;
        border-radius: 4px 4px 4px 0px;
        padding: 12px;
        margin: 0px 0px 5px 0px;
        color: $black;
        font-weight: 400;
      }
    }
  }
  button {
    @include button;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37px;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 4px;
    border: none;
    margin: 0px !important;

    &:disabled {
      cursor: auto;
      background-color: $neutral-100 !important;
      color: $black !important;
    }
  }
}
