@hubtype:registry=https://hubtype-847276726382.d.codeartifact.eu-west-1.amazonaws.com/npm/botonic-tools/
//hubtype-847276726382.d.codeartifact.eu-west-1.amazonaws.com/npm/botonic-tools/:always-auth=true
//hubtype-847276726382.d.codeartifact.eu-west-1.amazonaws.com/npm/botonic-tools/:_authToken=${CODEARTIFACT_AUTH_TOKEN}

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_TOKEN}