name: Botonic plugin-contentful tests

on:
  push:
    paths:
      - '*'
      - 'packages/*'
      - 'packages/botonic-plugin-contentful/**'
      - '.github/workflows/botonic-plugin-contentful-tests.yml'

jobs:
  botonic-plugin-contentful-tests:
    name: Botonic plugin-contentful Tests
    runs-on: ubuntu-latest
    env:
      PACKAGE: botonic-plugin-contentful
    steps:
    - name: Checking out to current branch
      uses: actions/checkout@v2
    - name: Setting up node
      uses: actions/setup-node@v2-beta
      with:
        node-version: '12'
    - name: Setting up cache
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install dev dependencies
      run: (cd ./packages/$PACKAGE && npm install -D)
    - name: Build
      run: (cd ./packages/$PACKAGE && npm run build_unit_tests)
    - name: Run tests
      env:
        CONTENTFUL_TEST_SPACE_ID: ${{ secrets.CONTENTFUL_TEST_SPACE_ID }}
        CONTENTFUL_TEST_TOKEN: ${{ secrets.CONTENTFUL_TEST_TOKEN }}
        CONTENTFUL_TEST_MANAGE_TOKEN: ${{ secrets.CONTENTFUL_TEST_MANAGE_TOKEN }}
      run: (cd ./packages/$PACKAGE && npm run test)
    - name: Verify lint
      run: (cd ./packages/$PACKAGE && npm run lint_ci)

    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v1.4.1
      if: always()
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: ${{env.PACKAGE}}
        file: ./packages/${{env.PACKAGE}}/coverage/lcov.info
        name: ${{env.PACKAGE}}