name: Botonic plugin-segment tests
 
on: [push]
 
jobs:
  botonic-plugin-segment-tests:
    name: Botonic plugin-segment tests
    runs-on: ubuntu-latest
    steps:
    - name: Checking out to current branch (Step 1 of 5)
      uses: actions/checkout@v1
    - name: Setting up node (Step 2 of 5)
      uses: actions/setup-node@v1
      with:
        node-version: '12'
    - name: Setting up cache (Step 3 of 5)
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install botonic-plugin-segment (Step 4 of 5)
      run: (cd ./packages/botonic-plugin-segment && npm install -D)
    - name: Verify lint botonic-plugin-segment (Step 5 of 5)
      run: (cd ./packages/botonic-plugin-segment && npm run lint_ci)
