name: Botonic CI test all packages

on:
  workflow_dispatch:

jobs:
  botonic-cli-tests:
    uses: ./.github/workflows/botonic-common-workflow.yml
    secrets: inherit #pragma: allowlist secret
    with:
      PACKAGE_NAME: Botonic cli tests
      PACKAGE: botonic-cli
      # Temporal workaround until ts-jest is fixed
      UNIT_TEST_COMMAND: cp tsconfig.test.json tsconfig.json && npm run test_ci
      PUBLISH_TESTS_RESULTS: "yes"
      NEEDS_CODECOV_UPLOAD: "yes"

  botonic-core-tests:
    uses: ./.github/workflows/botonic-common-workflow.yml
    secrets: inherit #pragma: allowlist secret
    with:
      PACKAGE_NAME: Botonic core tests
      PACKAGE: botonic-core
      NEEDS_CODECOV_UPLOAD: "yes"

  botonic-plugin-ai-agents-tests:
    uses: ./.github/workflows/botonic-common-workflow.yml
    secrets: inherit #pragma: allowlist secret
    with:
      PACKAGE_NAME: Botonic plugin-ai-agents tests
      PACKAGE: botonic-plugin-ai-agents
      BUILD_COMMAND: "cd ../botonic-core && npm run build && cd ../botonic-plugin-ai-agents && npm run build"
      NEEDS_CODECOV_UPLOAD: "yes"

  botonic-react-tests:
    uses: ./.github/workflows/botonic-common-workflow.yml
    secrets: inherit #pragma: allowlist secret
    with:
      PACKAGE_NAME: Botonic react tests
      PACKAGE: botonic-react
      BUILD_COMMAND: "cd ../botonic-core && npm run build && cd ../botonic-react && npm run build"
      NEEDS_CODECOV_UPLOAD: "yes"
