name: Botonic core tests

on:
  push:
    paths:
      - "packages/botonic-core/**"
      - ".github/workflows/botonic-core-tests.yml"
  workflow_dispatch:

jobs:
  botonic-core-tests:
    uses: ./.github/workflows/botonic-common-workflow.yml
    secrets: inherit #pragma: allowlist secret
    with:
      PACKAGE_NAME: Botonic core tests
      PACKAGE: botonic-core
      NEEDS_CODECOV_UPLOAD: "yes"
