name: Botonic react tests

on:
  push:
    paths:
      - '*'
      - 'packages/*'
      - 'packages/botonic-react/**'
      - '.github/workflows/botonic-react-tests.yml'

jobs:
  botonic-react-tests:
    name: Botonic react tests
    runs-on: ubuntu-latest
    env:
      PACKAGE: botonic-react
    steps:
    - name: Checking out to current branch
      uses: actions/checkout@v2
    - name: Setting up node
      uses: actions/setup-node@v2-beta
      with:
        node-version: '12'
    - name: Setting up cache
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install dev dependencies
      run: (cd ./packages/$PACKAGE && npm install -D)
    - name: Build
      run: (cd ./packages/$PACKAGE && npm run build)
    - name: Run tests
      run: (cd ./packages/$PACKAGE && npm run test)
    - name: Verify lint
      run: (cd ./packages/$PACKAGE && npm run lint_ci)
    - name: Verify index.d.ts
      run: scripts/qa/lint-d-ts.sh ./packages/$PACKAGE

    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v1
      if: always()
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: ${{env.PACKAGE}}
        file: ./packages/${{env.PACKAGE}}/coverage/lcov.info
        name: ${{env.PACKAGE}}
