name: Build and Deploy Botonic Docs to Netlify
on:
  push:
    paths:
      - 'docs/'
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCS: docs
      GOOGLE_OPTIMIZE_ID: ${{ secrets.GOOGLE_OPTIMIZE_ID }}
      SEGMENT_DOCS_API_KEY: ${{ secrets.SEGMENT_DOCS_API_KEY }}
    steps:
      - name: Checking out to current branch
        uses: actions/checkout@v2
      - name: Setting up node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '16'
      - name: Setting up cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dev dependencies
        run: (cd ./$DOCS && npm install -D)
      - name: Build
        run: (cd ./$DOCS && npm run build)
      - name: Verify lint
        run: (cd ./$DOCS && npm run lint_ci)
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0
        with:
          publish-dir: './docs/build'
          production-branch: master-lts
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: 'Deploy from GitHub Actions'
          enable-pull-request-comment: false
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
