name: Botonic cli tests

on:
  push:
    paths:
      - "packages/botonic-cli/**"
      - ".github/workflows/botonic-cli-tests.yml"
  workflow_dispatch:

jobs:
  botonic-cli-tests:
    uses: ./.github/workflows/botonic-common-workflow.yml
    secrets: inherit #pragma: allowlist secret
    with:
      PACKAGE_NAME: Botonic cli tests
      PACKAGE: botonic-cli
      UNIT_TEST_COMMAND: npm run test_ci
      LINT_COMMAND: npm run lint:check
      PUBLISH_TESTS_RESULTS: "yes"
      NEEDS_CODECOV_UPLOAD: "yes"
