#copied from https://github.com/pre-commit/action
name: pre-commit

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          cache: 'pip'
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - uses: pre-commit/action@v3.0.0
        # this will push back fixes to the pull request branch.
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
